@import "variables";
.overlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.8);
    filter: alpha(opacity=80);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 101;
    margin: auto;
    width: 500px;
    height: 300px;
    box-shadow: 3px 2px 5px #ccc;
    border-radius: 15px;
    background: white;
    &__inner {
        position: relative;
        padding: 1em;}
    &__title {
            text-align: center;
    }
    &__closebtn {
            position: absolute;
            top: -0.5em;
            right: -0.5em;
            cursor: pointer;
            border: solid 2px white;
            border-radius: 15px;
            background: black;
            outline: none;
            color: white;
    }
    // &__input-tasks {}
    &__input-name-date {
        margin: 17px 60px;
        box-shadow: 4px 3px 5px #ccc;
        width: 355px;
        height: 30px;
        padding: 25px;
        padding-left: 10px;
        border-radius: 5px;
        border: 1.5px solid;
        // border-radius: 5px;
    }
    // &__btn-tasks {}
    &__add-save-btn {
        margin-left: 20px;
        width: 125px;
        height: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: $btn-background-color;
        color: #fff;
        &:hover {
            box-shadow: 4px 3px 5px #ccc;
            background: #7a30c2;
            color: #ffffff;
        }
    }
    &__savetodo-btn {
        background: $savebtn-color;  
        &:hover {
            background: $savebtn-color;
        }
    }
}


/* Open popup button for add Task */

.add__taskbtn {
    margin-top: 11px;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background: $btn-background-color;
    color: #fff;
}